/* Style for Pepperoni Pizza */
#pepperoni {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  /* Style for Margherita Pizza */
  #margherita {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  /* Style for Burrito */
  #burrito {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: px;
    margin-bottom: 20px;
    margin-left: 50px;
  }
  
  /* Style for Burger */
  #burger {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  /* Style for Taco */
  #taco {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  /* Style for Apple Pie */
  #apple-pie {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  